//***************************************
// Sign in page
//***************************************

h1 {
  text-align: center;
}

.form-control {
  margin-left:300px;
  max-width: 500px;
}

.well {
  max-width: 500px;
  margin-left:300px;
}

label {
  color: black;
  margin-left:300px;
}

#save {
  margin-left: 300px;
}